<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Animation_RocketCloud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,2},{42,23}}</string>
                <key>offset</key>
                <string>{92,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,154},{42,23}}</string>
                <key>sourceSize</key>
                <string>{350,295}</string>
            </dict>
            <key>Animation_RocketCloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{166,139}}</string>
                <key>offset</key>
                <string>{44,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,138},{166,139}}</string>
                <key>sourceSize</key>
                <string>{350,295}</string>
            </dict>
            <key>Animation_RocketCloud3.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,402},{232,157}}</string>
                <key>offset</key>
                <string>{20,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,129},{232,157}}</string>
                <key>sourceSize</key>
                <string>{350,295}</string>
            </dict>
            <key>Animation_RocketCloud4.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,344},{260,189}}</string>
                <key>offset</key>
                <string>{14,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,101},{260,189}}</string>
                <key>sourceSize</key>
                <string>{350,295}</string>
            </dict>
            <key>Animation_RocketCloud5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,317},{314,189}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,59},{314,189}}</string>
                <key>sourceSize</key>
                <string>{350,295}</string>
            </dict>
            <key>Animation_RocketCloud6.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,203},{324,197}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,37},{324,197}}</string>
                <key>sourceSize</key>
                <string>{350,295}</string>
            </dict>
            <key>Animation_RocketCloud7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{332,197}}</string>
                <key>offset</key>
                <string>{2,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,23},{332,197}}</string>
                <key>sourceSize</key>
                <string>{350,295}</string>
            </dict>
            <key>Animation_RocketCloud8.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{340,197}}</string>
                <key>offset</key>
                <string>{1,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,13},{340,197}}</string>
                <key>sourceSize</key>
                <string>{350,295}</string>
            </dict>
            <key>Animation_RocketCloud9.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{344,199}}</string>
                <key>offset</key>
                <string>{2,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{344,199}}</string>
                <key>sourceSize</key>
                <string>{350,295}</string>
            </dict>
            <key>jbd1.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,355},{67,79}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,79}}</string>
                <key>sourceSize</key>
                <string>{81,79}</string>
            </dict>
            <key>jbd2.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,284},{69,79}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{69,79}}</string>
                <key>sourceSize</key>
                <string>{81,79}</string>
            </dict>
            <key>tuoguan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,402},{59,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,61}}</string>
                <key>sourceSize</key>
                <string>{59,61}</string>
            </dict>
            <key>tuoguan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,485},{59,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,61}}</string>
                <key>sourceSize</key>
                <string>{59,61}</string>
            </dict>
            <key>tuoguan3.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,424},{59,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,61}}</string>
                <key>sourceSize</key>
                <string>{59,61}</string>
            </dict>
            <key>wylr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{448,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,114}}</string>
                <key>sourceSize</key>
                <string>{448,114}</string>
            </dict>
            <key>wyrl.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,118},{164,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,84}}</string>
                <key>sourceSize</key>
                <string>{164,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b83e1511020fb4f9fc9d69d26d64633:1/1$</string>
            <key>textureFileName</key>
            <string>effect.png</string>
        </dict>
    </dict>
</plist>
