<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish17-sw-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,870},{152,103}}</string>
                <key>offset</key>
                <string>{27,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,1},{152,103}}</string>
                <key>sourceSize</key>
                <string>{214,109}</string>
            </dict>
            <key>fish17-sw-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{190,142}}</string>
                <key>offset</key>
                <string>{11,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{190,142}}</string>
                <key>sourceSize</key>
                <string>{214,278}</string>
            </dict>
            <key>fish17-sw-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,640},{164,128}}</string>
                <key>offset</key>
                <string>{24,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,1},{164,128}}</string>
                <key>sourceSize</key>
                <string>{214,244}</string>
            </dict>
            <key>fish17-sw-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,640},{152,123}}</string>
                <key>offset</key>
                <string>{29,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,0},{152,123}}</string>
                <key>sourceSize</key>
                <string>{214,197}</string>
            </dict>
            <key>fish17-sw-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,720},{148,112}}</string>
                <key>offset</key>
                <string>{30,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,0},{148,112}}</string>
                <key>sourceSize</key>
                <string>{214,148}</string>
            </dict>
            <key>fish17-yd-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,781},{212,143}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{212,143}}</string>
                <key>sourceSize</key>
                <string>{214,169}</string>
            </dict>
            <key>fish17-yd-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{214,143}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,143}}</string>
                <key>sourceSize</key>
                <string>{214,169}</string>
            </dict>
            <key>fish17-yd-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,765},{210,145}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{210,145}}</string>
                <key>sourceSize</key>
                <string>{214,169}</string>
            </dict>
            <key>fish17-yd-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{214,149}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{214,149}}</string>
                <key>sourceSize</key>
                <string>{214,169}</string>
            </dict>
            <key>fish17-yd-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,410},{214,149}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{214,149}}</string>
                <key>sourceSize</key>
                <string>{214,169}</string>
            </dict>
            <key>fish17-yd-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,634},{214,145}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{214,145}}</string>
                <key>sourceSize</key>
                <string>{214,169}</string>
            </dict>
            <key>fish17-yd-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,786},{212,145}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,23},{212,145}}</string>
                <key>sourceSize</key>
                <string>{214,169}</string>
            </dict>
            <key>fish17-yd-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,770},{210,145}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,18},{210,145}}</string>
                <key>sourceSize</key>
                <string>{214,169}</string>
            </dict>
            <key>fish17-yd-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,770},{210,145}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{210,145}}</string>
                <key>sourceSize</key>
                <string>{214,169}</string>
            </dict>
            <key>fish17-yd-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,641},{214,143}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{214,143}}</string>
                <key>sourceSize</key>
                <string>{214,169}</string>
            </dict>
            <key>fish18-sw-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,324},{260,153}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{260,153}}</string>
                <key>sourceSize</key>
                <string>{280,167}</string>
            </dict>
            <key>fish18-sw-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{268,164}}</string>
                <key>offset</key>
                <string>{-6,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,81},{268,164}}</string>
                <key>sourceSize</key>
                <string>{280,248}</string>
            </dict>
            <key>fish18-sw-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,485},{244,147}}</string>
                <key>offset</key>
                <string>{8,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,1},{244,147}}</string>
                <key>sourceSize</key>
                <string>{280,245}</string>
            </dict>
            <key>fish18-sw-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,328},{252,155}}</string>
                <key>offset</key>
                <string>{3,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{252,155}}</string>
                <key>sourceSize</key>
                <string>{280,219}</string>
            </dict>
            <key>fish18-sw-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,479},{244,159}}</string>
                <key>offset</key>
                <string>{8,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{244,159}}</string>
                <key>sourceSize</key>
                <string>{280,307}</string>
            </dict>
            <key>fish18-sw-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,339},{252,149}}</string>
                <key>offset</key>
                <string>{3,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,1},{252,149}}</string>
                <key>sourceSize</key>
                <string>{280,215}</string>
            </dict>
            <key>fish18-sw-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,561},{244,157}}</string>
                <key>offset</key>
                <string>{8,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,15},{244,157}}</string>
                <key>sourceSize</key>
                <string>{280,307}</string>
            </dict>
            <key>fish18-sw-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,168},{264,158}}</string>
                <key>offset</key>
                <string>{-2,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{264,158}}</string>
                <key>sourceSize</key>
                <string>{280,220}</string>
            </dict>
            <key>fish18-sw-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{268,164}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{268,164}}</string>
                <key>sourceSize</key>
                <string>{280,182}</string>
            </dict>
            <key>fish18-sw-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{270,169}}</string>
                <key>offset</key>
                <string>{-5,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{270,169}}</string>
                <key>sourceSize</key>
                <string>{280,217}</string>
            </dict>
            <key>fish18-yd-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,168},{260,154}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{260,154}}</string>
                <key>sourceSize</key>
                <string>{280,166}</string>
            </dict>
            <key>fish18-yd-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{260,164}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{260,164}}</string>
                <key>sourceSize</key>
                <string>{280,166}</string>
            </dict>
            <key>fish18-yd-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,146},{262,166}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{262,166}}</string>
                <key>sourceSize</key>
                <string>{280,166}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish4.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01cfc1bf8be58914c216fd7e4cf3b13b:1/1$</string>
            <key>textureFileName</key>
            <string>fish4.png</string>
        </dict>
    </dict>
</plist>
