<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish10-yd-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,506},{93,79}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{93,79}}</string>
                <key>sourceSize</key>
                <string>{95,91}</string>
            </dict>
            <key>fish10-yd-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,438},{91,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{91,79}}</string>
                <key>sourceSize</key>
                <string>{95,91}</string>
            </dict>
            <key>fish10-yd-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,720},{91,81}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{91,81}}</string>
                <key>sourceSize</key>
                <string>{95,91}</string>
            </dict>
            <key>fish10-yd-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,313},{91,83}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{91,83}}</string>
                <key>sourceSize</key>
                <string>{95,91}</string>
            </dict>
            <key>fish10-yd-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,519},{89,85}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{89,85}}</string>
                <key>sourceSize</key>
                <string>{95,91}</string>
            </dict>
            <key>fish10-yd-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,506},{89,85}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{89,85}}</string>
                <key>sourceSize</key>
                <string>{95,91}</string>
            </dict>
            <key>fish10-yd-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,813},{93,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{93,81}}</string>
                <key>sourceSize</key>
                <string>{95,91}</string>
            </dict>
            <key>fish10-yd-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,811},{93,81}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{93,81}}</string>
                <key>sourceSize</key>
                <string>{95,91}</string>
            </dict>
            <key>fish10-yd-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,218},{93,79}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{93,79}}</string>
                <key>sourceSize</key>
                <string>{95,91}</string>
            </dict>
            <key>fish11-sw-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,519},{87,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{87,68}}</string>
                <key>sourceSize</key>
                <string>{95,68}</string>
            </dict>
            <key>fish11-sw-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,608},{87,81}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{87,81}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>fish11-sw-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,945},{77,67}}</string>
                <key>offset</key>
                <string>{-8,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{77,67}}</string>
                <key>sourceSize</key>
                <string>{95,85}</string>
            </dict>
            <key>fish11-sw-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,744},{73,60}}</string>
                <key>offset</key>
                <string>{-5,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{73,60}}</string>
                <key>sourceSize</key>
                <string>{95,106}</string>
            </dict>
            <key>fish11-sw-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,945},{77,62}}</string>
                <key>offset</key>
                <string>{-2,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{77,62}}</string>
                <key>sourceSize</key>
                <string>{95,116}</string>
            </dict>
            <key>fish11-sw-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,734},{79,71}}</string>
                <key>offset</key>
                <string>{-4,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{79,71}}</string>
                <key>sourceSize</key>
                <string>{95,125}</string>
            </dict>
            <key>fish11-sw-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,734},{79,81}}</string>
                <key>offset</key>
                <string>{-6,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{79,81}}</string>
                <key>sourceSize</key>
                <string>{95,135}</string>
            </dict>
            <key>fish11-sw-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,222},{83,82}}</string>
                <key>offset</key>
                <string>{-5,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{83,82}}</string>
                <key>sourceSize</key>
                <string>{95,130}</string>
            </dict>
            <key>fish11-sw-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,587},{87,80}}</string>
                <key>offset</key>
                <string>{-4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,80}}</string>
                <key>sourceSize</key>
                <string>{95,118}</string>
            </dict>
            <key>fish11-sw-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,945},{87,75}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{87,75}}</string>
                <key>sourceSize</key>
                <string>{95,107}</string>
            </dict>
            <key>fish11-yd-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,606},{87,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{87,67}}</string>
                <key>sourceSize</key>
                <string>{95,75}</string>
            </dict>
            <key>fish11-yd-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,819},{85,68}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{85,68}}</string>
                <key>sourceSize</key>
                <string>{95,74}</string>
            </dict>
            <key>fish11-yd-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,675},{85,67}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{85,67}}</string>
                <key>sourceSize</key>
                <string>{95,75}</string>
            </dict>
            <key>fish11-yd-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,888},{85,69}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{85,69}}</string>
                <key>sourceSize</key>
                <string>{95,75}</string>
            </dict>
            <key>fish11-yd-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,815},{85,71}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{85,71}}</string>
                <key>sourceSize</key>
                <string>{95,75}</string>
            </dict>
            <key>fish11-yd-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,815},{85,71}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{85,71}}</string>
                <key>sourceSize</key>
                <string>{95,75}</string>
            </dict>
            <key>fish11-yd-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,593},{87,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{87,71}}</string>
                <key>sourceSize</key>
                <string>{95,75}</string>
            </dict>
            <key>fish11-yd-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,110},{85,71}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{85,71}}</string>
                <key>sourceSize</key>
                <string>{95,75}</string>
            </dict>
            <key>fish11-yd-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,815},{85,70}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{85,70}}</string>
                <key>sourceSize</key>
                <string>{95,74}</string>
            </dict>
            <key>fish11-yd-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,888},{85,68}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{85,68}}</string>
                <key>sourceSize</key>
                <string>{95,74}</string>
            </dict>
            <key>fish12-sw-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,959},{84,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{84,63}}</string>
                <key>sourceSize</key>
                <string>{92,65}</string>
            </dict>
            <key>fish12-sw-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,519},{80,66}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{80,66}}</string>
                <key>sourceSize</key>
                <string>{92,74}</string>
            </dict>
            <key>fish12-sw-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,669},{86,63}}</string>
                <key>offset</key>
                <string>{-2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{86,63}}</string>
                <key>sourceSize</key>
                <string>{92,113}</string>
            </dict>
            <key>fish12-sw-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,669},{80,63}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{80,63}}</string>
                <key>sourceSize</key>
                <string>{92,113}</string>
            </dict>
            <key>fish12-sw-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,606},{82,63}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{82,63}}</string>
                <key>sourceSize</key>
                <string>{92,113}</string>
            </dict>
            <key>fish12-sw-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,690},{82,67}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{82,67}}</string>
                <key>sourceSize</key>
                <string>{92,113}</string>
            </dict>
            <key>fish12-sw-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,744},{82,69}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{82,69}}</string>
                <key>sourceSize</key>
                <string>{92,113}</string>
            </dict>
            <key>fish12-sw-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,859},{80,71}}</string>
                <key>offset</key>
                <string>{4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{80,71}}</string>
                <key>sourceSize</key>
                <string>{92,113}</string>
            </dict>
            <key>fish12-sw-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,906},{78,71}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{78,71}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>fish12-sw-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,815},{80,68}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{80,68}}</string>
                <key>sourceSize</key>
                <string>{92,74}</string>
            </dict>
            <key>fish12-yd-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,959},{85,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{85,63}}</string>
                <key>sourceSize</key>
                <string>{91,65}</string>
            </dict>
            <key>fish12-yd-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,774},{83,63}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{83,63}}</string>
                <key>sourceSize</key>
                <string>{91,65}</string>
            </dict>
            <key>fish12-yd-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,894},{83,63}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{83,63}}</string>
                <key>sourceSize</key>
                <string>{91,65}</string>
            </dict>
            <key>fish12-yd-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,894},{83,63}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{83,63}}</string>
                <key>sourceSize</key>
                <string>{91,65}</string>
            </dict>
            <key>fish12-yd-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,894},{83,63}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{83,63}}</string>
                <key>sourceSize</key>
                <string>{91,65}</string>
            </dict>
            <key>fish12-yd-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,959},{83,63}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{83,63}}</string>
                <key>sourceSize</key>
                <string>{91,65}</string>
            </dict>
            <key>fish12-yd-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,959},{83,63}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{83,63}}</string>
                <key>sourceSize</key>
                <string>{91,65}</string>
            </dict>
            <key>fish12-yd-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,959},{83,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{83,63}}</string>
                <key>sourceSize</key>
                <string>{91,65}</string>
            </dict>
            <key>fish12-yd-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,959},{83,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{83,63}}</string>
                <key>sourceSize</key>
                <string>{91,65}</string>
            </dict>
            <key>fish12-yd-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,959},{83,63}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{83,63}}</string>
                <key>sourceSize</key>
                <string>{91,65}</string>
            </dict>
            <key>fish13-sw-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,450},{135,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{135,90}}</string>
                <key>sourceSize</key>
                <string>{151,92}</string>
            </dict>
            <key>fish13-sw-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{129,106}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,1},{129,106}}</string>
                <key>sourceSize</key>
                <string>{151,130}</string>
            </dict>
            <key>fish13-sw-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,695},{129,89}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{129,89}}</string>
                <key>sourceSize</key>
                <string>{151,119}</string>
            </dict>
            <key>fish13-sw-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,313},{123,91}}</string>
                <key>offset</key>
                <string>{-1,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{123,91}}</string>
                <key>sourceSize</key>
                <string>{151,159}</string>
            </dict>
            <key>fish13-sw-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,411},{123,93}}</string>
                <key>offset</key>
                <string>{1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{123,93}}</string>
                <key>sourceSize</key>
                <string>{151,185}</string>
            </dict>
            <key>fish13-sw-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,587},{123,103}}</string>
                <key>offset</key>
                <string>{1,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{123,103}}</string>
                <key>sourceSize</key>
                <string>{151,221}</string>
            </dict>
            <key>fish13-sw-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,586},{121,107}}</string>
                <key>offset</key>
                <string>{1,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{121,107}}</string>
                <key>sourceSize</key>
                <string>{151,221}</string>
            </dict>
            <key>fish13-sw-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{125,109}}</string>
                <key>offset</key>
                <string>{4,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,3},{125,109}}</string>
                <key>sourceSize</key>
                <string>{151,221}</string>
            </dict>
            <key>fish13-sw-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,398},{129,101}}</string>
                <key>offset</key>
                <string>{5,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{129,101}}</string>
                <key>sourceSize</key>
                <string>{151,185}</string>
            </dict>
            <key>fish13-sw-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{131,110}}</string>
                <key>offset</key>
                <string>{9,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{131,110}}</string>
                <key>sourceSize</key>
                <string>{151,172}</string>
            </dict>
            <key>fish13-yd-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,398},{135,89}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{135,89}}</string>
                <key>sourceSize</key>
                <string>{151,93}</string>
            </dict>
            <key>fish13-yd-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,110},{131,87}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{131,87}}</string>
                <key>sourceSize</key>
                <string>{151,93}</string>
            </dict>
            <key>fish13-yd-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,309},{135,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{135,87}}</string>
                <key>sourceSize</key>
                <string>{151,93}</string>
            </dict>
            <key>fish13-yd-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,218},{135,89}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{135,89}}</string>
                <key>sourceSize</key>
                <string>{151,93}</string>
            </dict>
            <key>fish13-yd-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,535},{133,87}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{133,87}}</string>
                <key>sourceSize</key>
                <string>{151,93}</string>
            </dict>
            <key>fish13-yd-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,110},{131,87}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{131,87}}</string>
                <key>sourceSize</key>
                <string>{151,93}</string>
            </dict>
            <key>fish13-yd-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,633},{129,85}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{129,85}}</string>
                <key>sourceSize</key>
                <string>{151,93}</string>
            </dict>
            <key>fish13-yd-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,307},{129,83}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{129,83}}</string>
                <key>sourceSize</key>
                <string>{151,93}</string>
            </dict>
            <key>fish13-yd-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,501},{129,83}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{129,83}}</string>
                <key>sourceSize</key>
                <string>{151,93}</string>
            </dict>
            <key>fish13-yd-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,110},{129,85}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{129,85}}</string>
                <key>sourceSize</key>
                <string>{151,93}</string>
            </dict>
            <key>fish14-sw-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,519},{110,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{110,112}}</string>
                <key>sourceSize</key>
                <string>{122,112}</string>
            </dict>
            <key>fish14-sw-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,309},{114,96}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{114,96}}</string>
                <key>sourceSize</key>
                <string>{122,148}</string>
            </dict>
            <key>fish14-sw-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,199},{108,110}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{108,110}}</string>
                <key>sourceSize</key>
                <string>{122,142}</string>
            </dict>
            <key>fish14-sw-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,2},{106,127}}</string>
                <key>offset</key>
                <string>{5,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,3},{106,127}}</string>
                <key>sourceSize</key>
                <string>{122,211}</string>
            </dict>
            <key>fish14-sw-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,826},{102,117}}</string>
                <key>offset</key>
                <string>{8,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{102,117}}</string>
                <key>sourceSize</key>
                <string>{122,211}</string>
            </dict>
            <key>fish14-sw-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,403},{112,93}}</string>
                <key>offset</key>
                <string>{2,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{112,93}}</string>
                <key>sourceSize</key>
                <string>{122,211}</string>
            </dict>
            <key>fish14-sw-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,406},{114,111}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{114,111}}</string>
                <key>sourceSize</key>
                <string>{122,211}</string>
            </dict>
            <key>fish14-sw-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,720},{112,89}}</string>
                <key>offset</key>
                <string>{3,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{112,89}}</string>
                <key>sourceSize</key>
                <string>{122,169}</string>
            </dict>
            <key>fish14-sw-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,407},{112,109}}</string>
                <key>offset</key>
                <string>{4,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{112,109}}</string>
                <key>sourceSize</key>
                <string>{122,153}</string>
            </dict>
            <key>fish14-sw-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,307},{114,94}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{114,94}}</string>
                <key>sourceSize</key>
                <string>{122,98}</string>
            </dict>
            <key>fish14-yd-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,199},{110,112}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{110,112}}</string>
                <key>sourceSize</key>
                <string>{122,128}</string>
            </dict>
            <key>fish14-yd-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,112},{108,102}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,12},{108,102}}</string>
                <key>sourceSize</key>
                <string>{122,128}</string>
            </dict>
            <key>fish14-yd-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,695},{110,118}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{110,118}}</string>
                <key>sourceSize</key>
                <string>{122,128}</string>
            </dict>
            <key>fish14-yd-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,692},{110,122}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{110,122}}</string>
                <key>sourceSize</key>
                <string>{122,128}</string>
            </dict>
            <key>fish14-yd-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{110,126}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{110,126}}</string>
                <key>sourceSize</key>
                <string>{122,128}</string>
            </dict>
            <key>fish14-yd-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,817},{108,126}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{108,126}}</string>
                <key>sourceSize</key>
                <string>{122,128}</string>
            </dict>
            <key>fish14-yd-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,199},{108,120}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{108,120}}</string>
                <key>sourceSize</key>
                <string>{122,128}</string>
            </dict>
            <key>fish14-yd-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,197},{108,112}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{108,112}}</string>
                <key>sourceSize</key>
                <string>{122,128}</string>
            </dict>
            <key>fish14-yd-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,2},{108,104}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{108,104}}</string>
                <key>sourceSize</key>
                <string>{122,128}</string>
            </dict>
            <key>fish14-yd-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,309},{108,100}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{108,100}}</string>
                <key>sourceSize</key>
                <string>{122,128}</string>
            </dict>
            <key>fish15-sw-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{218,109}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{218,109}}</string>
                <key>sourceSize</key>
                <string>{224,115}</string>
            </dict>
            <key>fish15-sw-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,119},{222,115}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,115}}</string>
                <key>sourceSize</key>
                <string>{224,153}</string>
            </dict>
            <key>fish15-sw-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{222,115}}</string>
                <key>offset</key>
                <string>{-1,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{222,115}}</string>
                <key>sourceSize</key>
                <string>{224,189}</string>
            </dict>
            <key>fish15-sw-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{220,109}}</string>
                <key>offset</key>
                <string>{-2,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,109}}</string>
                <key>sourceSize</key>
                <string>{224,189}</string>
            </dict>
            <key>fish15-sw-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,113},{212,103}}</string>
                <key>offset</key>
                <string>{1,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{212,103}}</string>
                <key>sourceSize</key>
                <string>{224,189}</string>
            </dict>
            <key>fish15-sw-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,347},{210,101}}</string>
                <key>offset</key>
                <string>{2,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{210,101}}</string>
                <key>sourceSize</key>
                <string>{224,161}</string>
            </dict>
            <key>fish15-sw-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{208,106}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{208,106}}</string>
                <key>sourceSize</key>
                <string>{224,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94da43c36355e60468c87db14e692c83:1/1$</string>
            <key>textureFileName</key>
            <string>fish2.png</string>
        </dict>
    </dict>
</plist>
