<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish18-yd-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,484},{258,152}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{258,152}}</string>
                <key>sourceSize</key>
                <string>{280,166}</string>
            </dict>
            <key>fish18-yd-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,266},{256,154}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{256,154}}</string>
                <key>sourceSize</key>
                <string>{280,166}</string>
            </dict>
            <key>fish18-yd-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{250,162}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{250,162}}</string>
                <key>sourceSize</key>
                <string>{280,166}</string>
            </dict>
            <key>fish18-yd-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{250,166}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{250,166}}</string>
                <key>sourceSize</key>
                <string>{280,166}</string>
            </dict>
            <key>fish18-yd-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{262,166}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{262,166}}</string>
                <key>sourceSize</key>
                <string>{280,166}</string>
            </dict>
            <key>fish18-yd-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,2},{260,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{260,164}}</string>
                <key>sourceSize</key>
                <string>{280,166}</string>
            </dict>
            <key>fish18-yd-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,168},{260,164}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{260,164}}</string>
                <key>sourceSize</key>
                <string>{280,166}</string>
            </dict>
            <key>fish18-yd-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,168},{260,160}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{260,160}}</string>
                <key>sourceSize</key>
                <string>{280,166}</string>
            </dict>
            <key>fish18-yd-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,2},{262,156}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{262,156}}</string>
                <key>sourceSize</key>
                <string>{280,166}</string>
            </dict>
            <key>fish18-yd-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,666},{262,152}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{262,152}}</string>
                <key>sourceSize</key>
                <string>{280,166}</string>
            </dict>
            <key>fish18-yd-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,648},{260,152}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{260,152}}</string>
                <key>sourceSize</key>
                <string>{280,166}</string>
            </dict>
            <key>fish18-yd-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,334},{260,154}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{260,154}}</string>
                <key>sourceSize</key>
                <string>{280,166}</string>
            </dict>
            <key>fish18-yd-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{262,166}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{262,166}}</string>
                <key>sourceSize</key>
                <string>{280,166}</string>
            </dict>
            <key>fish18-yd-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{260,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{260,164}}</string>
                <key>sourceSize</key>
                <string>{280,166}</string>
            </dict>
            <key>fish18-yd-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{260,164}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{260,164}}</string>
                <key>sourceSize</key>
                <string>{280,166}</string>
            </dict>
            <key>fish18-yd-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{260,160}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{260,160}}</string>
                <key>sourceSize</key>
                <string>{280,166}</string>
            </dict>
            <key>fish18-yd-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,490},{260,156}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{260,156}}</string>
                <key>sourceSize</key>
                <string>{280,166}</string>
            </dict>
            <key>fish18-yd-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,330},{260,152}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{260,152}}</string>
                <key>sourceSize</key>
                <string>{280,166}</string>
            </dict>
            <key>fish19-sw-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,824},{131,141}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,3},{131,141}}</string>
                <key>sourceSize</key>
                <string>{269,153}</string>
            </dict>
            <key>fish19-sw-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,824},{143,148}}</string>
                <key>offset</key>
                <string>{-10,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,2},{143,148}}</string>
                <key>sourceSize</key>
                <string>{269,182}</string>
            </dict>
            <key>fish19-sw-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,675},{147,153}}</string>
                <key>offset</key>
                <string>{-12,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,18},{147,153}}</string>
                <key>sourceSize</key>
                <string>{269,245}</string>
            </dict>
            <key>fish19-sw-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,781},{143,155}}</string>
                <key>offset</key>
                <string>{-11,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,7},{143,155}}</string>
                <key>sourceSize</key>
                <string>{269,245}</string>
            </dict>
            <key>fish19-sw-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,524},{149,155}}</string>
                <key>offset</key>
                <string>{-6,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,0},{149,155}}</string>
                <key>sourceSize</key>
                <string>{269,245}</string>
            </dict>
            <key>fish19-sw-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,638},{173,141}}</string>
                <key>offset</key>
                <string>{2,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,12},{173,141}}</string>
                <key>sourceSize</key>
                <string>{269,245}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish5.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82483ea5dbf61ba388501224de81b9fe:1/1$</string>
            <key>textureFileName</key>
            <string>fish5.png</string>
        </dict>
    </dict>
</plist>
