<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish19-sw-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,632},{197,93}}</string>
                <key>offset</key>
                <string>{35,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,42},{197,93}}</string>
                <key>sourceSize</key>
                <string>{269,137}</string>
            </dict>
            <key>fish19-sw-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,612},{187,113}}</string>
                <key>offset</key>
                <string>{23,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,3},{187,113}}</string>
                <key>sourceSize</key>
                <string>{269,147}</string>
            </dict>
            <key>fish19-sw-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,801},{183,103}}</string>
                <key>offset</key>
                <string>{30,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,22},{183,103}}</string>
                <key>sourceSize</key>
                <string>{269,129}</string>
            </dict>
            <key>fish19-sw-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,210},{189,94}}</string>
                <key>offset</key>
                <string>{34,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,35},{189,94}}</string>
                <key>sourceSize</key>
                <string>{269,132}</string>
            </dict>
            <key>fish19-yd-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,266},{132,143}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,143}}</string>
                <key>sourceSize</key>
                <string>{138,151}</string>
            </dict>
            <key>fish19-yd-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,400},{130,139}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{130,139}}</string>
                <key>sourceSize</key>
                <string>{138,151}</string>
            </dict>
            <key>fish19-yd-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,2},{132,145}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{132,145}}</string>
                <key>sourceSize</key>
                <string>{138,151}</string>
            </dict>
            <key>fish19-yd-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,191},{132,147}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{132,147}}</string>
                <key>sourceSize</key>
                <string>{138,151}</string>
            </dict>
            <key>fish19-yd-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,2},{128,147}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{128,147}}</string>
                <key>sourceSize</key>
                <string>{138,151}</string>
            </dict>
            <key>fish19-yd-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,136},{128,145}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{128,145}}</string>
                <key>sourceSize</key>
                <string>{138,151}</string>
            </dict>
            <key>fish19-yd-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,400},{128,143}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{128,143}}</string>
                <key>sourceSize</key>
                <string>{138,151}</string>
            </dict>
            <key>fish19-yd-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,662},{128,139}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{128,139}}</string>
                <key>sourceSize</key>
                <string>{138,151}</string>
            </dict>
            <key>fish19-yd-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,662},{128,139}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{128,139}}</string>
                <key>sourceSize</key>
                <string>{138,151}</string>
            </dict>
            <key>fish19-yd-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,532},{128,139}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{128,139}}</string>
                <key>sourceSize</key>
                <string>{138,151}</string>
            </dict>
            <key>fish20-sw-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,212},{131,207}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,9},{131,207}}</string>
                <key>sourceSize</key>
                <string>{175,227}</string>
            </dict>
            <key>fish20-sw-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,421},{155,189}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,38},{155,189}}</string>
                <key>sourceSize</key>
                <string>{175,227}</string>
            </dict>
            <key>fish20-sw-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{131,213}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{131,213}}</string>
                <key>sourceSize</key>
                <string>{175,227}</string>
            </dict>
            <key>fish20-sw-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{135,213}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{135,213}}</string>
                <key>sourceSize</key>
                <string>{175,227}</string>
            </dict>
            <key>fish20-sw-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,632},{137,193}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,29},{137,193}}</string>
                <key>sourceSize</key>
                <string>{175,227}</string>
            </dict>
            <key>fish20-sw-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,849},{137,173}}</string>
                <key>offset</key>
                <string>{-5,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,53},{137,173}}</string>
                <key>sourceSize</key>
                <string>{175,227}</string>
            </dict>
            <key>fish20-sw-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,827},{155,191}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,35},{155,191}}</string>
                <key>sourceSize</key>
                <string>{175,227}</string>
            </dict>
            <key>fish20-sw-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,858},{157,195}}</string>
                <key>offset</key>
                <string>{9,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,31},{157,195}}</string>
                <key>sourceSize</key>
                <string>{175,227}</string>
            </dict>
            <key>fish20-sw-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,854},{155,191}}</string>
                <key>offset</key>
                <string>{8,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,35},{155,191}}</string>
                <key>sourceSize</key>
                <string>{175,227}</string>
            </dict>
            <key>fish20-sw-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,2},{155,187}}</string>
                <key>offset</key>
                <string>{3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,40},{155,187}}</string>
                <key>sourceSize</key>
                <string>{175,227}</string>
            </dict>
            <key>fish20-yd-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,639},{130,208}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{130,208}}</string>
                <key>sourceSize</key>
                <string>{136,212}</string>
            </dict>
            <key>fish20-yd-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,217},{126,210}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{126,210}}</string>
                <key>sourceSize</key>
                <string>{136,212}</string>
            </dict>
            <key>fish20-yd-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,422},{128,208}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{128,208}}</string>
                <key>sourceSize</key>
                <string>{136,212}</string>
            </dict>
            <key>fish20-yd-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,2},{130,208}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{130,208}}</string>
                <key>sourceSize</key>
                <string>{136,212}</string>
            </dict>
            <key>fish20-yd-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,212},{134,208}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{134,208}}</string>
                <key>sourceSize</key>
                <string>{136,212}</string>
            </dict>
            <key>fish20-yd-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,429},{134,208}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{134,208}}</string>
                <key>sourceSize</key>
                <string>{136,212}</string>
            </dict>
            <key>fish20-yd-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,644},{134,208}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{134,208}}</string>
                <key>sourceSize</key>
                <string>{136,212}</string>
            </dict>
            <key>fish20-yd-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,2},{134,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{134,206}}</string>
                <key>sourceSize</key>
                <string>{136,212}</string>
            </dict>
            <key>fish20-yd-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,2},{134,208}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{134,208}}</string>
                <key>sourceSize</key>
                <string>{136,212}</string>
            </dict>
            <key>fish20-yd-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{132,210}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{132,210}}</string>
                <key>sourceSize</key>
                <string>{136,212}</string>
            </dict>
            <key>fish20-yd-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{128,212}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{128,212}}</string>
                <key>sourceSize</key>
                <string>{136,212}</string>
            </dict>
            <key>fish20-yd-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,432},{126,210}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{126,210}}</string>
                <key>sourceSize</key>
                <string>{136,212}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish6.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9edfe7af9876f4c313a3b54164d91760:1/1$</string>
            <key>textureFileName</key>
            <string>fish6.png</string>
        </dict>
    </dict>
</plist>
