<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish25-sw-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,310},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,77}</string>
            </dict>
            <key>fish25-sw-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,156},{75,81}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{75,81}}</string>
                <key>sourceSize</key>
                <string>{75,89}</string>
            </dict>
            <key>fish25-sw-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,79},{75,90}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,90}}</string>
                <key>sourceSize</key>
                <string>{75,104}</string>
            </dict>
            <key>fish25-sw-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,2},{75,99}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,99}}</string>
                <key>sourceSize</key>
                <string>{75,121}</string>
            </dict>
            <key>fish25-sw-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,924},{75,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,76}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>fish25-sw-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,388},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,77}</string>
            </dict>
            <key>fish25-sw-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,539},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>fish25-sw-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,846},{75,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,76}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>fish25-sw-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,768},{75,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,76}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>fish25-sw-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,690},{75,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,76}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>fish25-sw-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,310},{75,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,76}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>fish25-sw-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,233},{75,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,79}}</string>
                <key>sourceSize</key>
                <string>{75,79}</string>
            </dict>
            <key>fish25-yd-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,461},{75,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,76}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>fish25-yd-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,612},{75,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,76}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>fish25-yd-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,924},{75,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,76}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>fish25-yd-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,846},{75,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,76}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>fish25-yd-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,768},{75,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,76}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>fish25-yd-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,690},{75,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,76}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>fish25-yd-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,612},{75,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,76}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>fish25-yd-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,914},{75,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,76}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>fish25-yd-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,616},{75,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,74}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>fish25-yd-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,914},{75,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,76}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>fish26-sw-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,153},{149,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{149,149}}</string>
                <key>sourceSize</key>
                <string>{149,153}</string>
            </dict>
            <key>fish26-sw-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{149,161}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{149,161}}</string>
                <key>sourceSize</key>
                <string>{149,177}</string>
            </dict>
            <key>fish26-sw-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{149,178}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{149,178}}</string>
                <key>sourceSize</key>
                <string>{149,208}</string>
            </dict>
            <key>fish26-sw-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{149,196}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,196}}</string>
                <key>sourceSize</key>
                <string>{149,242}</string>
            </dict>
            <key>fish26-sw-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,2},{149,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{149,150}}</string>
                <key>sourceSize</key>
                <string>{149,152}</string>
            </dict>
            <key>fish26-sw-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,2},{149,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{149,150}}</string>
                <key>sourceSize</key>
                <string>{149,154}</string>
            </dict>
            <key>fish26-sw-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,310},{149,147}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{149,147}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>fish26-sw-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,310},{149,148}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{149,148}}</string>
                <key>sourceSize</key>
                <string>{149,152}</string>
            </dict>
            <key>fish26-sw-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,2},{149,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{149,150}}</string>
                <key>sourceSize</key>
                <string>{149,152}</string>
            </dict>
            <key>fish26-sw-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,2},{149,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{149,150}}</string>
                <key>sourceSize</key>
                <string>{149,152}</string>
            </dict>
            <key>fish26-sw-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,2},{149,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{149,150}}</string>
                <key>sourceSize</key>
                <string>{149,152}</string>
            </dict>
            <key>fish26-sw-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,543},{149,153}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,153}}</string>
                <key>sourceSize</key>
                <string>{149,157}</string>
            </dict>
            <key>fish26-yd-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,153},{149,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{149,149}}</string>
                <key>sourceSize</key>
                <string>{149,151}</string>
            </dict>
            <key>fish26-yd-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,461},{149,147}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{149,147}}</string>
                <key>sourceSize</key>
                <string>{149,151}</string>
            </dict>
            <key>fish26-yd-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,153},{149,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{149,149}}</string>
                <key>sourceSize</key>
                <string>{149,151}</string>
            </dict>
            <key>fish26-yd-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,851},{149,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,151}}</string>
                <key>sourceSize</key>
                <string>{149,151}</string>
            </dict>
            <key>fish26-yd-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{149,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,151}}</string>
                <key>sourceSize</key>
                <string>{149,151}</string>
            </dict>
            <key>fish26-yd-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,153},{149,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{149,149}}</string>
                <key>sourceSize</key>
                <string>{149,151}</string>
            </dict>
            <key>fish26-yd-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,153},{149,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{149,149}}</string>
                <key>sourceSize</key>
                <string>{149,151}</string>
            </dict>
            <key>fish26-yd-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,763},{149,147}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{149,147}}</string>
                <key>sourceSize</key>
                <string>{149,151}</string>
            </dict>
            <key>fish26-yd-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,612},{149,147}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{149,147}}</string>
                <key>sourceSize</key>
                <string>{149,151}</string>
            </dict>
            <key>fish26-yd-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,461},{149,147}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{149,147}}</string>
                <key>sourceSize</key>
                <string>{149,151}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish8.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:754afed3863ee0e6ed83a787b6706b9d:1/1$</string>
            <key>textureFileName</key>
            <string>fish8.png</string>
        </dict>
    </dict>
</plist>
