<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish21-sw-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{270,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{270,86}}</string>
                <key>sourceSize</key>
                <string>{302,88}</string>
            </dict>
            <key>fish21-sw-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,560},{114,102}}</string>
                <key>offset</key>
                <string>{60,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,1},{114,102}}</string>
                <key>sourceSize</key>
                <string>{302,118}</string>
            </dict>
            <key>fish21-sw-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{272,95}}</string>
                <key>offset</key>
                <string>{8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,2},{272,95}}</string>
                <key>sourceSize</key>
                <string>{302,119}</string>
            </dict>
            <key>fish21-sw-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{276,91}}</string>
                <key>offset</key>
                <string>{13,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,1},{276,91}}</string>
                <key>sourceSize</key>
                <string>{302,127}</string>
            </dict>
            <key>fish21-sw-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,358},{252,108}}</string>
                <key>offset</key>
                <string>{25,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,1},{252,108}}</string>
                <key>sourceSize</key>
                <string>{302,158}</string>
            </dict>
            <key>fish21-sw-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,2},{182,139}}</string>
                <key>offset</key>
                <string>{29,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,7},{182,139}}</string>
                <key>sourceSize</key>
                <string>{302,187}</string>
            </dict>
            <key>fish21-sw-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,311},{148,123}}</string>
                <key>offset</key>
                <string>{46,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,14},{148,123}}</string>
                <key>sourceSize</key>
                <string>{302,187}</string>
            </dict>
            <key>fish21-sw-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,524},{112,133}}</string>
                <key>offset</key>
                <string>{62,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,1},{112,133}}</string>
                <key>sourceSize</key>
                <string>{302,187}</string>
            </dict>
            <key>fish21-sw-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{126,101}}</string>
                <key>offset</key>
                <string>{78,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,2},{126,101}}</string>
                <key>sourceSize</key>
                <string>{302,141}</string>
            </dict>
            <key>fish21-sw-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,436},{112,131}}</string>
                <key>offset</key>
                <string>{67,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,1},{112,131}}</string>
                <key>sourceSize</key>
                <string>{302,135}</string>
            </dict>
            <key>fish21-yd-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{269,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{269,85}}</string>
                <key>sourceSize</key>
                <string>{269,89}</string>
            </dict>
            <key>fish21-yd-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,93},{269,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{269,87}}</string>
                <key>sourceSize</key>
                <string>{269,89}</string>
            </dict>
            <key>fish21-yd-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,186},{269,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{269,83}}</string>
                <key>sourceSize</key>
                <string>{269,89}</string>
            </dict>
            <key>fish21-yd-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,353},{267,81}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{267,81}}</string>
                <key>sourceSize</key>
                <string>{269,89}</string>
            </dict>
            <key>fish21-yd-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{269,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{269,81}}</string>
                <key>sourceSize</key>
                <string>{269,89}</string>
            </dict>
            <key>fish21-yd-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,182},{269,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{269,83}}</string>
                <key>sourceSize</key>
                <string>{269,89}</string>
            </dict>
            <key>fish21-yd-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,99},{269,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{269,85}}</string>
                <key>sourceSize</key>
                <string>{269,89}</string>
            </dict>
            <key>fish21-yd-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,271},{267,87}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{267,87}}</string>
                <key>sourceSize</key>
                <string>{269,89}</string>
            </dict>
            <key>fish21-yd-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,267},{267,89}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{267,89}}</string>
                <key>sourceSize</key>
                <string>{269,89}</string>
            </dict>
            <key>fish21-yd-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{269,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,89}}</string>
                <key>sourceSize</key>
                <string>{269,89}</string>
            </dict>
            <key>fish22-yd-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,656},{77,111}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,31},{77,111}}</string>
                <key>sourceSize</key>
                <string>{91,161}</string>
            </dict>
            <key>fish22-yd-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,436},{71,121}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,22},{71,121}}</string>
                <key>sourceSize</key>
                <string>{91,161}</string>
            </dict>
            <key>fish22-yd-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,582},{85,99}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,44},{85,99}}</string>
                <key>sourceSize</key>
                <string>{91,161}</string>
            </dict>
            <key>fish22-yd-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,647},{89,93}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,50},{89,93}}</string>
                <key>sourceSize</key>
                <string>{91,161}</string>
            </dict>
            <key>fish22-yd-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,559},{91,93}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{91,93}}</string>
                <key>sourceSize</key>
                <string>{91,161}</string>
            </dict>
            <key>fish22-yd-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,571},{87,99}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,44},{87,99}}</string>
                <key>sourceSize</key>
                <string>{91,161}</string>
            </dict>
            <key>fish22-yd-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,566},{79,107}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,36},{79,107}}</string>
                <key>sourceSize</key>
                <string>{91,161}</string>
            </dict>
            <key>fish22-yd-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,498},{71,115}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,28},{71,115}}</string>
                <key>sourceSize</key>
                <string>{91,161}</string>
            </dict>
            <key>fish22-yd-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,429},{67,123}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,20},{67,123}}</string>
                <key>sourceSize</key>
                <string>{91,161}</string>
            </dict>
            <key>fish22-yd-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,360},{67,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,18},{67,125}}</string>
                <key>sourceSize</key>
                <string>{91,161}</string>
            </dict>
            <key>fish23-yd-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,468},{96,136}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,32},{96,136}}</string>
                <key>sourceSize</key>
                <string>{112,184}</string>
            </dict>
            <key>fish23-yd-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,436},{86,148}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,20},{86,148}}</string>
                <key>sourceSize</key>
                <string>{112,184}</string>
            </dict>
            <key>fish23-yd-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,550},{104,122}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,47},{104,122}}</string>
                <key>sourceSize</key>
                <string>{112,184}</string>
            </dict>
            <key>fish23-yd-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,639},{110,116}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,53},{110,116}}</string>
                <key>sourceSize</key>
                <string>{112,184}</string>
            </dict>
            <key>fish23-yd-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,468},{112,116}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,54},{112,116}}</string>
                <key>sourceSize</key>
                <string>{112,184}</string>
            </dict>
            <key>fish23-yd-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,450},{108,122}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,47},{108,122}}</string>
                <key>sourceSize</key>
                <string>{112,184}</string>
            </dict>
            <key>fish23-yd-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{98,132}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,37},{98,132}}</string>
                <key>sourceSize</key>
                <string>{112,184}</string>
            </dict>
            <key>fish23-yd-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,360},{88,142}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,26},{88,142}}</string>
                <key>sourceSize</key>
                <string>{112,184}</string>
            </dict>
            <key>fish23-yd-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,227},{82,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,16},{82,152}}</string>
                <key>sourceSize</key>
                <string>{112,184}</string>
            </dict>
            <key>fish23-yd-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,143},{82,154}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,14},{82,154}}</string>
                <key>sourceSize</key>
                <string>{112,184}</string>
            </dict>
            <key>fish24-yd-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,927},{89,81}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,14},{89,81}}</string>
                <key>sourceSize</key>
                <string>{91,95}</string>
            </dict>
            <key>fish24-yd-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,925},{87,79}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{87,79}}</string>
                <key>sourceSize</key>
                <string>{91,95}</string>
            </dict>
            <key>fish24-yd-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,735},{89,85}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{89,85}}</string>
                <key>sourceSize</key>
                <string>{91,95}</string>
            </dict>
            <key>fish24-yd-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,664},{89,85}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{89,85}}</string>
                <key>sourceSize</key>
                <string>{91,95}</string>
            </dict>
            <key>fish24-yd-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,660},{89,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{89,85}}</string>
                <key>sourceSize</key>
                <string>{91,95}</string>
            </dict>
            <key>fish24-yd-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,751},{89,83}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{89,83}}</string>
                <key>sourceSize</key>
                <string>{91,95}</string>
            </dict>
            <key>fish24-yd-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,836},{89,81}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{89,81}}</string>
                <key>sourceSize</key>
                <string>{91,95}</string>
            </dict>
            <key>fish24-yd-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,836},{87,79}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{87,79}}</string>
                <key>sourceSize</key>
                <string>{91,95}</string>
            </dict>
            <key>fish24-yd-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,822},{87,77}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{87,77}}</string>
                <key>sourceSize</key>
                <string>{91,95}</string>
            </dict>
            <key>fish24-yd-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,911},{85,77}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{85,77}}</string>
                <key>sourceSize</key>
                <string>{91,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish7.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e82199490cdb9c3047d5d0cbe7f338dc:1/1$</string>
            <key>textureFileName</key>
            <string>fish7.png</string>
        </dict>
    </dict>
</plist>
