<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>airplane1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,319},{315,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,190}}</string>
                <key>sourceSize</key>
                <string>{315,190}</string>
            </dict>
            <key>airplane2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,2},{315,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,190}}</string>
                <key>sourceSize</key>
                <string>{315,190}</string>
            </dict>
            <key>bomb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1729,992},{309,231}}</string>
                <key>offset</key>
                <string>{16,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,7},{309,231}}</string>
                <key>sourceSize</key>
                <string>{425,297}</string>
            </dict>
            <key>bomb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,1218},{309,231}}</string>
                <key>offset</key>
                <string>{16,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,7},{309,231}}</string>
                <key>sourceSize</key>
                <string>{425,297}</string>
            </dict>
            <key>bomb3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,985},{309,231}}</string>
                <key>offset</key>
                <string>{16,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,7},{309,231}}</string>
                <key>sourceSize</key>
                <string>{425,297}</string>
            </dict>
            <key>bomb4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,985},{309,231}}</string>
                <key>offset</key>
                <string>{16,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,7},{309,231}}</string>
                <key>sourceSize</key>
                <string>{425,297}</string>
            </dict>
            <key>bomb5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1739,681},{309,231}}</string>
                <key>offset</key>
                <string>{16,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,7},{309,231}}</string>
                <key>sourceSize</key>
                <string>{425,297}</string>
            </dict>
            <key>bomb6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,2},{319,225}}</string>
                <key>offset</key>
                <string>{11,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,8},{319,225}}</string>
                <key>sourceSize</key>
                <string>{425,297}</string>
            </dict>
            <key>bomb7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,454},{321,225}}</string>
                <key>offset</key>
                <string>{10,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,8},{321,225}}</string>
                <key>sourceSize</key>
                <string>{425,297}</string>
            </dict>
            <key>bomb8.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1761},{417,275}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{417,275}}</string>
                <key>sourceSize</key>
                <string>{425,297}</string>
            </dict>
            <key>liandui1.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,1772},{271,181}}</string>
                <key>offset</key>
                <string>{1,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,5},{271,181}}</string>
                <key>sourceSize</key>
                <string>{357,267}</string>
            </dict>
            <key>liandui2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1788},{357,255}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{357,255}}</string>
                <key>sourceSize</key>
                <string>{357,267}</string>
            </dict>
            <key>liandui3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,636},{355,199}}</string>
                <key>offset</key>
                <string>{-1,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{355,199}}</string>
                <key>sourceSize</key>
                <string>{357,267}</string>
            </dict>
            <key>liandui4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1355,636},{347,199}}</string>
                <key>offset</key>
                <string>{-1,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{347,199}}</string>
                <key>sourceSize</key>
                <string>{357,267}</string>
            </dict>
            <key>liandui5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,229},{319,207}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,1},{319,207}}</string>
                <key>sourceSize</key>
                <string>{357,267}</string>
            </dict>
            <key>liandui6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,1451},{301,243}}</string>
                <key>offset</key>
                <string>{-10,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{301,243}}</string>
                <key>sourceSize</key>
                <string>{357,267}</string>
            </dict>
            <key>rocket1.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,2},{286,428}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,89},{286,428}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>rocket10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,438},{188,236}}</string>
                <key>offset</key>
                <string>{13,182}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,0},{188,236}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>rocket11.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,1032},{146,82}}</string>
                <key>offset</key>
                <string>{19,259}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,0},{146,82}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>rocket2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,1754},{286,402}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,116},{286,402}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>rocket3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,1451},{286,390}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,129},{286,390}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>rocket4.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,2},{286,428}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,89},{286,428}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>rocket5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1200},{342,586}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,14},{342,586}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>rocket6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{462,600}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,0},{462,600}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>rocket7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{594,542}}</string>
                <key>offset</key>
                <string>{3,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{594,542}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>rocket8.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{594,464}}</string>
                <key>offset</key>
                <string>{3,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{594,464}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>rocket9.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1200},{570,434}}</string>
                <key>offset</key>
                <string>{5,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{570,434}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>shunzi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,1583},{176,218}}</string>
                <key>offset</key>
                <string>{3,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,0},{176,218}}</string>
                <key>sourceSize</key>
                <string>{432,324}</string>
            </dict>
            <key>shunzi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,598},{432,304}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,304}}</string>
                <key>sourceSize</key>
                <string>{432,324}</string>
            </dict>
            <key>shunzi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,598},{428,300}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{428,300}}</string>
                <key>sourceSize</key>
                <string>{432,324}</string>
            </dict>
            <key>shunzi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1613,1739},{418,244}}</string>
                <key>offset</key>
                <string>{-1,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{418,244}}</string>
                <key>sourceSize</key>
                <string>{432,324}</string>
            </dict>
            <key>shunzi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1772},{266,244}}</string>
                <key>offset</key>
                <string>{-4,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,0},{266,244}}</string>
                <key>sourceSize</key>
                <string>{432,324}</string>
            </dict>
            <key>shunzi6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1739,2},{286,250}}</string>
                <key>offset</key>
                <string>{-4,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,0},{286,250}}</string>
                <key>sourceSize</key>
                <string>{432,324}</string>
            </dict>
            <key>shunzi7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1739,254},{198,264}}</string>
                <key>offset</key>
                <string>{5,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,0},{198,264}}</string>
                <key>sourceSize</key>
                <string>{432,324}</string>
            </dict>
            <key>smoke1.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,1032},{118,70}}</string>
                <key>offset</key>
                <string>{39,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,18},{118,70}}</string>
                <key>sourceSize</key>
                <string>{200,96}</string>
            </dict>
            <key>smoke2.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1032},{168,74}}</string>
                <key>offset</key>
                <string>{16,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,13},{168,74}}</string>
                <key>sourceSize</key>
                <string>{200,96}</string>
            </dict>
            <key>smoke3.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1108},{172,50}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,28},{172,50}}</string>
                <key>sourceSize</key>
                <string>{200,96}</string>
            </dict>
            <key>smoke4.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,1032},{122,68}}</string>
                <key>offset</key>
                <string>{-14,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,8},{122,68}}</string>
                <key>sourceSize</key>
                <string>{200,96}</string>
            </dict>
            <key>wing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,1028},{314,421}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{314,421}}</string>
                <key>sourceSize</key>
                <string>{318,421}</string>
            </dict>
            <key>wing2.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,1160},{318,421}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,421}}</string>
                <key>sourceSize</key>
                <string>{318,421}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cardType.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d67f6ca98886b50546112838e35e95e:1/1$</string>
            <key>textureFileName</key>
            <string>cardType.png</string>
        </dict>
    </dict>
</plist>
