<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish19-sw-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,350},{147,158}}</string>
                <key>offset</key>
                <string>{-33,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,57},{147,158}}</string>
                <key>sourceSize</key>
                <string>{249,232}</string>
            </dict>
            <key>fish19-sw-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{219,104}}</string>
                <key>offset</key>
                <string>{10,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,111},{219,104}}</string>
                <key>sourceSize</key>
                <string>{249,232}</string>
            </dict>
            <key>fish19-sw-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,172},{157,164}}</string>
                <key>offset</key>
                <string>{-40,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,42},{157,164}}</string>
                <key>sourceSize</key>
                <string>{249,232}</string>
            </dict>
            <key>fish19-sw-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,2},{163,168}}</string>
                <key>offset</key>
                <string>{-43,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{163,168}}</string>
                <key>sourceSize</key>
                <string>{249,232}</string>
            </dict>
            <key>fish19-sw-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,176},{157,172}}</string>
                <key>offset</key>
                <string>{-40,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{157,172}}</string>
                <key>sourceSize</key>
                <string>{249,232}</string>
            </dict>
            <key>fish19-sw-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{167,172}}</string>
                <key>offset</key>
                <string>{-35,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{167,172}}</string>
                <key>sourceSize</key>
                <string>{249,232}</string>
            </dict>
            <key>fish19-sw-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,211},{191,156}}</string>
                <key>offset</key>
                <string>{-27,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,19},{191,156}}</string>
                <key>sourceSize</key>
                <string>{249,232}</string>
            </dict>
            <key>fish19-sw-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{207,126}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,62},{207,126}}</string>
                <key>sourceSize</key>
                <string>{249,232}</string>
            </dict>
            <key>fish19-sw-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,211},{201,114}}</string>
                <key>offset</key>
                <string>{5,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,94},{201,114}}</string>
                <key>sourceSize</key>
                <string>{249,232}</string>
            </dict>
            <key>fish19-sw-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,223},{209,106}}</string>
                <key>offset</key>
                <string>{9,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,105},{209,106}}</string>
                <key>sourceSize</key>
                <string>{249,232}</string>
            </dict>
            <key>fish19-yd-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,350},{147,158}}</string>
                <key>offset</key>
                <string>{-33,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,57},{147,158}}</string>
                <key>sourceSize</key>
                <string>{249,232}</string>
            </dict>
            <key>fish19-yd-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,350},{147,160}}</string>
                <key>offset</key>
                <string>{-33,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,59},{147,160}}</string>
                <key>sourceSize</key>
                <string>{249,232}</string>
            </dict>
            <key>fish19-yd-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{145,162}}</string>
                <key>offset</key>
                <string>{-30,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,60},{145,162}}</string>
                <key>sourceSize</key>
                <string>{249,232}</string>
            </dict>
            <key>fish19-yd-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,338},{143,162}}</string>
                <key>offset</key>
                <string>{-27,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,61},{143,162}}</string>
                <key>sourceSize</key>
                <string>{249,232}</string>
            </dict>
            <key>fish19-yd-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,166},{141,162}}</string>
                <key>offset</key>
                <string>{-24,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,61},{141,162}}</string>
                <key>sourceSize</key>
                <string>{249,232}</string>
            </dict>
            <key>fish19-yd-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,2},{143,156}}</string>
                <key>offset</key>
                <string>{-23,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,63},{143,156}}</string>
                <key>sourceSize</key>
                <string>{249,232}</string>
            </dict>
            <key>fish19-yd-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,149},{141,154}}</string>
                <key>offset</key>
                <string>{-24,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,61},{141,154}}</string>
                <key>sourceSize</key>
                <string>{249,232}</string>
            </dict>
            <key>fish19-yd-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,292},{143,152}}</string>
                <key>offset</key>
                <string>{-29,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,60},{143,152}}</string>
                <key>sourceSize</key>
                <string>{249,232}</string>
            </dict>
            <key>fish19-yd-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{145,154}}</string>
                <key>offset</key>
                <string>{-32,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,59},{145,154}}</string>
                <key>sourceSize</key>
                <string>{249,232}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish-zh6.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ebd6701163686f7743844b2eedeff843$</string>
            <key>textureFileName</key>
            <string>fish-zh6.png</string>
        </dict>
    </dict>
</plist>
