<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish17-sw-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,170},{240,164}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,69},{240,164}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fish17-sw-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{174,118}}</string>
                <key>offset</key>
                <string>{30,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,105},{174,118}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fish17-sw-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,332},{200,162}}</string>
                <key>offset</key>
                <string>{18,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,71},{200,162}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fish17-sw-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,446},{146,108}}</string>
                <key>offset</key>
                <string>{45,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,75},{146,108}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fish17-sw-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,334},{152,110}}</string>
                <key>offset</key>
                <string>{44,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,46},{152,110}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fish17-sw-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,336},{198,184}}</string>
                <key>offset</key>
                <string>{21,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,18},{198,184}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fish17-sw-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,170},{216,162}}</string>
                <key>offset</key>
                <string>{12,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,8},{216,162}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fish17-sw-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{186,146}}</string>
                <key>offset</key>
                <string>{27,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,29},{186,146}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fish17-sw-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,334},{172,140}}</string>
                <key>offset</key>
                <string>{33,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,54},{172,140}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fish17-sw-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,476},{168,128}}</string>
                <key>offset</key>
                <string>{34,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,82},{168,128}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fish17-yd-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,170},{240,164}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,69},{240,164}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fish17-yd-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,168}}</string>
                <key>offset</key>
                <string>{1,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,78},{242,168}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fish17-yd-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{242,166}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,84},{242,166}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fish17-yd-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,2},{240,166}}</string>
                <key>offset</key>
                <string>{1,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,82},{240,166}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fish17-yd-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{238,164}}</string>
                <key>offset</key>
                <string>{2,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,80},{238,164}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fish17-yd-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,166},{240,164}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,75},{240,164}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>fish17-yd-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{242,162}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,71},{242,162}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish-zh7.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6fd4ce0a473b778d1d78439d32f4f783$</string>
            <key>textureFileName</key>
            <string>fish-zh7.png</string>
        </dict>
    </dict>
</plist>
