<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish15-sw-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,126},{250,122}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,56},{250,122}}</string>
                <key>sourceSize</key>
                <string>{274,204}</string>
            </dict>
            <key>fish15-sw-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,588},{234,128}}</string>
                <key>offset</key>
                <string>{4,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,63},{234,128}}</string>
                <key>sourceSize</key>
                <string>{274,204}</string>
            </dict>
            <key>fish15-sw-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{254,130}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,31},{254,130}}</string>
                <key>sourceSize</key>
                <string>{274,204}</string>
            </dict>
            <key>fish15-sw-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{254,130}}</string>
                <key>offset</key>
                <string>{-3,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{254,130}}</string>
                <key>sourceSize</key>
                <string>{274,204}</string>
            </dict>
            <key>fish15-sw-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{250,124}}</string>
                <key>offset</key>
                <string>{-2,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{250,124}}</string>
                <key>sourceSize</key>
                <string>{274,204}</string>
            </dict>
            <key>fish15-sw-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,412},{242,118}}</string>
                <key>offset</key>
                <string>{1,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{242,118}}</string>
                <key>sourceSize</key>
                <string>{274,204}</string>
            </dict>
            <key>fish15-sw-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,698},{238,116}}</string>
                <key>offset</key>
                <string>{2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,26},{238,116}}</string>
                <key>sourceSize</key>
                <string>{274,204}</string>
            </dict>
            <key>fish15-sw-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,668},{238,120}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,38},{238,120}}</string>
                <key>sourceSize</key>
                <string>{274,204}</string>
            </dict>
            <key>fish15-sw-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,378},{242,122}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,49},{242,122}}</string>
                <key>sourceSize</key>
                <string>{274,204}</string>
            </dict>
            <key>fish15-sw-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,250},{242,126}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,55},{242,126}}</string>
                <key>sourceSize</key>
                <string>{274,204}</string>
            </dict>
            <key>fish15-yd-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,126},{250,122}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,56},{250,122}}</string>
                <key>sourceSize</key>
                <string>{274,204}</string>
            </dict>
            <key>fish15-yd-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{248,122}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,56},{248,122}}</string>
                <key>sourceSize</key>
                <string>{274,204}</string>
            </dict>
            <key>fish15-yd-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,2},{250,122}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,55},{250,122}}</string>
                <key>sourceSize</key>
                <string>{274,204}</string>
            </dict>
            <key>fish15-yd-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,134},{248,116}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,57},{248,116}}</string>
                <key>sourceSize</key>
                <string>{274,204}</string>
            </dict>
            <key>fish15-yd-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,128},{250,112}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,58},{250,112}}</string>
                <key>sourceSize</key>
                <string>{274,204}</string>
            </dict>
            <key>fish16-sw-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,502},{240,164}}</string>
                <key>offset</key>
                <string>{1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,69},{240,164}}</string>
                <key>sourceSize</key>
                <string>{260,258}</string>
            </dict>
            <key>fish16-sw-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,588},{174,118}}</string>
                <key>offset</key>
                <string>{30,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,105},{174,118}}</string>
                <key>sourceSize</key>
                <string>{260,258}</string>
            </dict>
            <key>fish16-sw-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{200,162}}</string>
                <key>offset</key>
                <string>{18,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,71},{200,162}}</string>
                <key>sourceSize</key>
                <string>{260,258}</string>
            </dict>
            <key>fish16-sw-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,790},{146,108}}</string>
                <key>offset</key>
                <string>{45,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,75},{146,108}}</string>
                <key>sourceSize</key>
                <string>{260,258}</string>
            </dict>
            <key>fish16-sw-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,790},{152,110}}</string>
                <key>offset</key>
                <string>{44,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,46},{152,110}}</string>
                <key>sourceSize</key>
                <string>{260,258}</string>
            </dict>
            <key>fish16-sw-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,790},{198,184}}</string>
                <key>offset</key>
                <string>{21,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,18},{198,184}}</string>
                <key>sourceSize</key>
                <string>{260,258}</string>
            </dict>
            <key>fish16-sw-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,790},{216,162}}</string>
                <key>offset</key>
                <string>{12,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,8},{216,162}}</string>
                <key>sourceSize</key>
                <string>{260,258}</string>
            </dict>
            <key>fish16-sw-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,824},{186,146}}</string>
                <key>offset</key>
                <string>{27,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,29},{186,146}}</string>
                <key>sourceSize</key>
                <string>{260,258}</string>
            </dict>
            <key>fish16-sw-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,816},{172,140}}</string>
                <key>offset</key>
                <string>{33,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,54},{172,140}}</string>
                <key>sourceSize</key>
                <string>{260,258}</string>
            </dict>
            <key>fish16-sw-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,816},{168,128}}</string>
                <key>offset</key>
                <string>{34,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,82},{168,128}}</string>
                <key>sourceSize</key>
                <string>{260,258}</string>
            </dict>
            <key>fish16-yd-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,502},{240,164}}</string>
                <key>offset</key>
                <string>{1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,69},{240,164}}</string>
                <key>sourceSize</key>
                <string>{260,258}</string>
            </dict>
            <key>fish16-yd-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,242},{242,168}}</string>
                <key>offset</key>
                <string>{1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,78},{242,168}}</string>
                <key>sourceSize</key>
                <string>{260,258}</string>
            </dict>
            <key>fish16-yd-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,252},{242,166}}</string>
                <key>offset</key>
                <string>{0,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,84},{242,166}}</string>
                <key>sourceSize</key>
                <string>{260,258}</string>
            </dict>
            <key>fish16-yd-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,420},{240,166}}</string>
                <key>offset</key>
                <string>{1,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,82},{240,166}}</string>
                <key>sourceSize</key>
                <string>{260,258}</string>
            </dict>
            <key>fish16-yd-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,532},{238,164}}</string>
                <key>offset</key>
                <string>{2,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,80},{238,164}}</string>
                <key>sourceSize</key>
                <string>{260,258}</string>
            </dict>
            <key>fish16-yd-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{240,164}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,75},{240,164}}</string>
                <key>sourceSize</key>
                <string>{260,258}</string>
            </dict>
            <key>fish16-yd-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{242,162}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,71},{242,162}}</string>
                <key>sourceSize</key>
                <string>{260,258}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish-zh2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c7baed780745e2942acf62f851bd9df$</string>
            <key>textureFileName</key>
            <string>fish-zh2.png</string>
        </dict>
    </dict>
</plist>
