<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>pao1-l1.png</key>
		<dict>
			<key>frame</key>
			<string>{{364,692},{90,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28,26},{90,94}}</string>
			<key>sourceSize</key>
			<string>{146,146}</string>
		</dict>
		<key>pao1-l2.png</key>
		<dict>
			<key>frame</key>
			<string>{{256,594},{112,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,25},{112,96}}</string>
			<key>sourceSize</key>
			<string>{146,146}</string>
		</dict>
		<key>pao1-l3.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,796},{112,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,22},{112,102}}</string>
			<key>sourceSize</key>
			<string>{146,146}</string>
		</dict>
		<key>pao1-l4.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,372},{116,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,17},{116,112}}</string>
			<key>sourceSize</key>
			<string>{146,146}</string>
		</dict>
		<key>pao2-l1.png</key>
		<dict>
			<key>frame</key>
			<string>{{378,366},{90,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28,21},{90,104}}</string>
			<key>sourceSize</key>
			<string>{146,146}</string>
		</dict>
		<key>pao2-l2.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,692},{112,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,22},{112,102}}</string>
			<key>sourceSize</key>
			<string>{146,146}</string>
		</dict>
		<key>pao2-l3.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,486},{114,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,18},{114,110}}</string>
			<key>sourceSize</key>
			<string>{146,146}</string>
		</dict>
		<key>pao2-l4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,836},{132,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,15},{132,116}}</string>
			<key>sourceSize</key>
			<string>{146,146}</string>
		</dict>
		<key>pao3-l1.png</key>
		<dict>
			<key>frame</key>
			<string>{{370,486},{94,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,22},{94,102}}</string>
			<key>sourceSize</key>
			<string>{146,146}</string>
		</dict>
		<key>pao3-l2.png</key>
		<dict>
			<key>frame</key>
			<string>{{248,900},{114,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,23},{114,100}}</string>
			<key>sourceSize</key>
			<string>{146,146}</string>
		</dict>
		<key>pao3-l3.png</key>
		<dict>
			<key>frame</key>
			<string>{{256,486},{112,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,20},{112,106}}</string>
			<key>sourceSize</key>
			<string>{146,146}</string>
		</dict>
		<key>pao3-l4.png</key>
		<dict>
			<key>frame</key>
			<string>{{213,134},{126,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,16},{126,114}}</string>
			<key>sourceSize</key>
			<string>{146,146}</string>
		</dict>
		<key>pao4-l1.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,372},{100,112}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,18},{100,112}}</string>
			<key>sourceSize</key>
			<string>{146,146}</string>
		</dict>
		<key>pao4-l2.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,718},{114,112}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,18},{114,112}}</string>
			<key>sourceSize</key>
			<string>{146,146}</string>
		</dict>
		<key>pao4-l3.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,598},{114,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,14},{114,118}}</string>
			<key>sourceSize</key>
			<string>{146,146}</string>
		</dict>
		<key>pao4-l4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,588},{130,126}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,9},{130,126}}</string>
			<key>sourceSize</key>
			<string>{146,146}</string>
		</dict>
		<key>pao5-l1.png</key>
		<dict>
			<key>frame</key>
			<string>{{331,250},{104,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,16},{104,114}}</string>
			<key>sourceSize</key>
			<string>{146,146}</string>
		</dict>
		<key>pao5-l2.png</key>
		<dict>
			<key>frame</key>
			<string>{{341,134},{122,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,17},{122,112}}</string>
			<key>sourceSize</key>
			<string>{146,146}</string>
		</dict>
		<key>pao5-l3.png</key>
		<dict>
			<key>frame</key>
			<string>{{209,250},{120,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,13},{120,120}}</string>
			<key>sourceSize</key>
			<string>{146,146}</string>
		</dict>
		<key>pao5-l4.png</key>
		<dict>
			<key>frame</key>
			<string>{{359,2},{138,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,8},{138,130}}</string>
			<key>sourceSize</key>
			<string>{146,146}</string>
		</dict>
		<key>pao6-l1.png</key>
		<dict>
			<key>frame</key>
			<string>{{136,832},{110,114}}</string>
			<key>offset</key>
			<string>{6,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,16},{110,114}}</string>
			<key>sourceSize</key>
			<string>{146,146}</string>
		</dict>
		<key>pao6-l2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,716},{130,118}}</string>
			<key>offset</key>
			<string>{6,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,14},{130,118}}</string>
			<key>sourceSize</key>
			<string>{146,146}</string>
		</dict>
		<key>pao6-l3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,458},{136,128}}</string>
			<key>offset</key>
			<string>{4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,9},{136,128}}</string>
			<key>sourceSize</key>
			<string>{146,146}</string>
		</dict>
		<key>pao6-l4.png</key>
		<dict>
			<key>frame</key>
			<string>{{213,2},{144,130}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,8},{144,130}}</string>
			<key>sourceSize</key>
			<string>{146,146}</string>
		</dict>
		<key>wang1.png</key>
		<dict>
			<key>frame</key>
			<string>{{370,590},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>wang2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,339},{154,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,117}}</string>
			<key>sourceSize</key>
			<string>{154,117}</string>
		</dict>
		<key>wang3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,187},{205,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{205,150}}</string>
			<key>sourceSize</key>
			<string>{205,150}</string>
		</dict>
		<key>wang4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{209,183}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{209,183}}</string>
			<key>sourceSize</key>
			<string>{209,183}</string>
		</dict>
		<key>zd1-l1.png</key>
		<dict>
			<key>frame</key>
			<string>{{466,561},{24,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,32}}</string>
			<key>sourceSize</key>
			<string>{24,32}</string>
		</dict>
		<key>zd1-l2.png</key>
		<dict>
			<key>frame</key>
			<string>{{470,452},{49,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,32}}</string>
			<key>sourceSize</key>
			<string>{49,32}</string>
		</dict>
		<key>zd1-l3.png</key>
		<dict>
			<key>frame</key>
			<string>{{470,401},{49,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,40}}</string>
			<key>sourceSize</key>
			<string>{49,40}</string>
		</dict>
		<key>zd1-l4.png</key>
		<dict>
			<key>frame</key>
			<string>{{364,981},{60,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,40}}</string>
			<key>sourceSize</key>
			<string>{60,40}</string>
		</dict>
		<key>zd2-l1.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,339},{31,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,35}}</string>
			<key>sourceSize</key>
			<string>{31,35}</string>
		</dict>
		<key>zd2-l2.png</key>
		<dict>
			<key>frame</key>
			<string>{{456,692},{54,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,35}}</string>
			<key>sourceSize</key>
			<string>{54,35}</string>
		</dict>
		<key>zd2-l3.png</key>
		<dict>
			<key>frame</key>
			<string>{{437,305},{56,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,48}}</string>
			<key>sourceSize</key>
			<string>{56,48}</string>
		</dict>
		<key>zd2-l4.png</key>
		<dict>
			<key>frame</key>
			<string>{{427,865},{69,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,45}}</string>
			<key>sourceSize</key>
			<string>{69,45}</string>
		</dict>
		<key>zd3-l1.png</key>
		<dict>
			<key>frame</key>
			<string>{{472,587},{32,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,39}}</string>
			<key>sourceSize</key>
			<string>{32,39}</string>
		</dict>
		<key>zd3-l2.png</key>
		<dict>
			<key>frame</key>
			<string>{{466,503},{56,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,39}}</string>
			<key>sourceSize</key>
			<string>{56,39}</string>
		</dict>
		<key>zd3-l3.png</key>
		<dict>
			<key>frame</key>
			<string>{{437,248},{56,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,55}}</string>
			<key>sourceSize</key>
			<string>{56,55}</string>
		</dict>
		<key>zd3-l4.png</key>
		<dict>
			<key>frame</key>
			<string>{{442,791},{72,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,53}}</string>
			<key>sourceSize</key>
			<string>{72,53}</string>
		</dict>
		<key>zd4-l1.png</key>
		<dict>
			<key>frame</key>
			<string>{{470,355},{32,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,44}}</string>
			<key>sourceSize</key>
			<string>{32,44}</string>
		</dict>
		<key>zd4-l2.png</key>
		<dict>
			<key>frame</key>
			<string>{{426,960},{57,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,44}}</string>
			<key>sourceSize</key>
			<string>{57,44}</string>
		</dict>
		<key>zd4-l3.png</key>
		<dict>
			<key>frame</key>
			<string>{{364,788},{76,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,57}}</string>
			<key>sourceSize</key>
			<string>{76,57}</string>
		</dict>
		<key>zd4-l4.png</key>
		<dict>
			<key>frame</key>
			<string>{{364,920},{57,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,59}}</string>
			<key>sourceSize</key>
			<string>{57,59}</string>
		</dict>
		<key>zd5-l1.png</key>
		<dict>
			<key>frame</key>
			<string>{{465,190},{35,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,46}}</string>
			<key>sourceSize</key>
			<string>{35,46}</string>
		</dict>
		<key>zd5-l2.png</key>
		<dict>
			<key>frame</key>
			<string>{{427,912},{61,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,46}}</string>
			<key>sourceSize</key>
			<string>{61,46}</string>
		</dict>
		<key>zd5-l3.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,954},{61,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,60}}</string>
			<key>sourceSize</key>
			<string>{61,60}</string>
		</dict>
		<key>zd5-l4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,954},{80,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,60}}</string>
			<key>sourceSize</key>
			<string>{80,60}</string>
		</dict>
		<key>zd6-l1.png</key>
		<dict>
			<key>frame</key>
			<string>{{465,134},{35,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,54}}</string>
			<key>sourceSize</key>
			<string>{35,54}</string>
		</dict>
		<key>zd6-l2.png</key>
		<dict>
			<key>frame</key>
			<string>{{456,729},{60,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,54}}</string>
			<key>sourceSize</key>
			<string>{60,54}</string>
		</dict>
		<key>zd6-l3.png</key>
		<dict>
			<key>frame</key>
			<string>{{364,847},{61,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,71}}</string>
			<key>sourceSize</key>
			<string>{61,71}</string>
		</dict>
		<key>zd6-l4.png</key>
		<dict>
			<key>frame</key>
			<string>{{147,948},{82,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,71}}</string>
			<key>sourceSize</key>
			<string>{82,71}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>pao-zd.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:1772d6032be5a8a0f00a429fbc391c72$</string>
		<key>textureFileName</key>
		<string>pao-zd.png</string>
	</dict>
</dict>
</plist>
