<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pao01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,845},{96,140}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,34},{96,140}}</string>
                <key>sourceSize</key>
                <string>{114,174}</string>
            </dict>
            <key>Pao01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,747},{96,140}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,34},{96,140}}</string>
                <key>sourceSize</key>
                <string>{114,174}</string>
            </dict>
            <key>Pao01s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1032},{96,140}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,34},{96,140}}</string>
                <key>sourceSize</key>
                <string>{114,174}</string>
            </dict>
            <key>Pao01s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,906},{96,140}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,34},{96,140}}</string>
                <key>sourceSize</key>
                <string>{114,174}</string>
            </dict>
            <key>Pao01x_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,808},{96,140}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,33},{96,140}}</string>
                <key>sourceSize</key>
                <string>{114,174}</string>
            </dict>
            <key>Pao01x_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,464},{100,140}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,33},{100,140}}</string>
                <key>sourceSize</key>
                <string>{114,174}</string>
            </dict>
            <key>Pao03_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,435},{92,96}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,58},{92,96}}</string>
                <key>sourceSize</key>
                <string>{114,174}</string>
            </dict>
            <key>Pao03_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,533},{92,86}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,68},{92,86}}</string>
                <key>sourceSize</key>
                <string>{114,174}</string>
            </dict>
            <key>PaoFire_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,2},{62,42}}</string>
                <key>offset</key>
                <string>{0,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,9},{62,42}}</string>
                <key>sourceSize</key>
                <string>{114,174}</string>
            </dict>
            <key>PaoFire_01s.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,157},{70,54}}</string>
                <key>offset</key>
                <string>{-2,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,5},{70,54}}</string>
                <key>sourceSize</key>
                <string>{114,174}</string>
            </dict>
            <key>PaoFire_01x.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,229},{72,52}}</string>
                <key>offset</key>
                <string>{-1,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,7},{72,52}}</string>
                <key>sourceSize</key>
                <string>{114,174}</string>
            </dict>
            <key>PaoFire_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,320},{98,42}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,24},{98,42}}</string>
                <key>sourceSize</key>
                <string>{114,174}</string>
            </dict>
            <key>ele_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,804},{152,152}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,30},{152,152}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>ele_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,804},{166,170}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,24},{166,170}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>ele_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{198,196}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{198,196}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>ele_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,242},{204,206}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{204,206}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>ele_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,228},{216,208}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{216,208}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>ele_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,394},{208,206}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{208,206}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>knife.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,628},{174,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{174,174}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>net01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,606},{100,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,66},{100,68}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>net01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1004},{120,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,60},{120,80}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>net01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,894},{140,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,53},{140,94}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>net01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,922},{160,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,46},{160,108}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>net01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{180,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,39},{180,122}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>net01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,602},{200,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{200,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>net01s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,943},{112,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,57},{112,110}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>net01s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,676},{134,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,47},{134,130}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>net01s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,740},{156,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,36},{156,152}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>net01s_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{182,174}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,25},{182,174}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>net01s_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,438},{204,196}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{204,196}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>net01s_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,2},{224,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{224,218}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>net01x_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,958},{122,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,62},{122,124}}</string>
                <key>sourceSize</key>
                <string>{248,248}</string>
            </dict>
            <key>net01x_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,972},{146,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,49},{146,150}}</string>
                <key>sourceSize</key>
                <string>{248,248}</string>
            </dict>
            <key>net01x_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{170,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,37},{170,174}}</string>
                <key>sourceSize</key>
                <string>{248,248}</string>
            </dict>
            <key>net01x_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{248,238}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{248,238}}</string>
                <key>sourceSize</key>
                <string>{248,248}</string>
            </dict>
            <key>net01x_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{228,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{228,224}}</string>
                <key>sourceSize</key>
                <string>{248,248}</string>
            </dict>
            <key>net01x_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{248,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,248}}</string>
                <key>sourceSize</key>
                <string>{248,248}</string>
            </dict>
            <key>piercing01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,434},{28,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,35}}</string>
                <key>sourceSize</key>
                <string>{28,35}</string>
            </dict>
            <key>piercing01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,404},{28,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,35}}</string>
                <key>sourceSize</key>
                <string>{28,35}</string>
            </dict>
            <key>piercing01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,374},{28,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,35}}</string>
                <key>sourceSize</key>
                <string>{28,35}</string>
            </dict>
            <key>piercing02_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,330},{42,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,35}}</string>
                <key>sourceSize</key>
                <string>{42,35}</string>
            </dict>
            <key>piercing02_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,286},{42,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,35}}</string>
                <key>sourceSize</key>
                <string>{42,35}</string>
            </dict>
            <key>piercing02_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,242},{42,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,35}}</string>
                <key>sourceSize</key>
                <string>{42,35}</string>
            </dict>
            <key>piercing03_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,120},{56,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,35}}</string>
                <key>sourceSize</key>
                <string>{56,35}</string>
            </dict>
            <key>piercing03_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,83},{56,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,35}}</string>
                <key>sourceSize</key>
                <string>{56,35}</string>
            </dict>
            <key>piercing03_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,46},{56,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,35}}</string>
                <key>sourceSize</key>
                <string>{56,35}</string>
            </dict>
            <key>qipao2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,943},{80,80}}</string>
                <key>offset</key>
                <string>{1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,105},{80,80}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>qipao2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,621},{116,124}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,79},{116,124}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>qipao2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,448},{178,190}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,44},{178,190}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>qipao2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,222},{170,222}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,28},{170,222}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>qipao2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,636},{166,176}}</string>
                <key>offset</key>
                <string>{-4,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,64},{166,176}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>shot01.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,286},{32,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,48}}</string>
                <key>sourceSize</key>
                <string>{32,48}</string>
            </dict>
            <key>shot01s.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,252},{32,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,48}}</string>
                <key>sourceSize</key>
                <string>{32,48}</string>
            </dict>
            <key>shot01x.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,393},{40,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{40,48}</string>
            </dict>
            <key>shot03_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,348},{52,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{52,43}}</string>
                <key>sourceSize</key>
                <string>{52,45}</string>
            </dict>
            <key>shot03_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,303},{52,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{52,43}}</string>
                <key>sourceSize</key>
                <string>{52,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pao.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1130}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2f5fb8dd65ddac29491911fce57250f$</string>
            <key>textureFileName</key>
            <string>pao.pvr.ccz</string>
        </dict>
    </dict>
</plist>
