<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sexp.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,368},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bangzu.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,304},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>coinshort.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,1347},{112,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{112,26}}</string>
                <key>sourceSize</key>
                <string>{128,48}</string>
            </dict>
            <key>djs_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,1461},{11,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{11,19}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>djs_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,1461},{5,19}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{5,19}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>djs_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,1461},{11,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{11,19}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>djs_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,1368},{11,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{11,19}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>djs_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,368},{11,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{11,15}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>djs_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,627},{13,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{13,19}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>djs_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,1347},{11,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{11,19}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>djs_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,648},{9,17}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{9,17}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>djs_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,989},{11,19}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{11,19}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>djs_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2030},{13,19}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{13,19}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1150},{244,80}}</string>
                <key>offset</key>
                <string>{-446,280}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,80}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>exp0.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{172,30}}</string>
                <key>offset</key>
                <string>{-413,285}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,20},{172,30}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>exp_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,1150},{14,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,36}}</string>
                <key>sourceSize</key>
                <string>{14,36}</string>
            </dict>
            <key>exp_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{164,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,28}}</string>
                <key>sourceSize</key>
                <string>{164,28}</string>
            </dict>
            <key>fhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,240},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>jia.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1702},{110,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{110,70}}</string>
                <key>sourceSize</key>
                <string>{114,72}</string>
            </dict>
            <key>jia0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1630},{112,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{112,70}}</string>
                <key>sourceSize</key>
                <string>{114,72}</string>
            </dict>
            <key>jiahao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1054},{96,94}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{96,94}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>jie.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1556},{114,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,72}}</string>
                <key>sourceSize</key>
                <string>{114,72}</string>
            </dict>
            <key>jie0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1482},{114,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,72}}</string>
                <key>sourceSize</key>
                <string>{114,72}</string>
            </dict>
            <key>nemax.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,418},{44,48}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>nlt_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1050,56}}</string>
                <key>offset</key>
                <string>{43,-292}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,584},{1050,56}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>nlt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,667},{157,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{157,32}}</string>
                <key>sourceSize</key>
                <string>{157,40}</string>
            </dict>
            <key>nlt_1r.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,627},{24,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,42}}</string>
                <key>sourceSize</key>
                <string>{24,42}</string>
            </dict>
            <key>nlt_pao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1892},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>nlt_pao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1818},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>power_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,468},{157,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{157,32}}</string>
                <key>sourceSize</key>
                <string>{157,40}</string>
            </dict>
            <key>power_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,1188},{157,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{157,32}}</string>
                <key>sourceSize</key>
                <string>{157,40}</string>
            </dict>
            <key>power_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,830},{157,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{157,32}}</string>
                <key>sourceSize</key>
                <string>{157,40}</string>
            </dict>
            <key>power_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,671},{157,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{157,32}}</string>
                <key>sourceSize</key>
                <string>{157,40}</string>
            </dict>
            <key>power_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,1818},{157,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{157,32}}</string>
                <key>sourceSize</key>
                <string>{157,40}</string>
            </dict>
            <key>power_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,468},{157,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{157,32}}</string>
                <key>sourceSize</key>
                <string>{157,40}</string>
            </dict>
            <key>shengyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,176},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>shengyiguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1966},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>szhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1396},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>xiazhushu.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,826},{122,28}}</string>
                <key>offset</key>
                <string>{-1,-304}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{506,610},{122,28}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>yingxinpao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1774},{110,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,42}}</string>
                <key>sourceSize</key>
                <string>{110,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Ui.pvr.ccz</string>
            <key>size</key>
            <string>{128,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0632e1bce8de2006f6a472a2a26d6ddb$</string>
            <key>textureFileName</key>
            <string>Ui.pvr.ccz</string>
        </dict>
    </dict>
</plist>
